
#parent {
	display: flex;
}

#parrot {
	padding-top: 40px;
	width: 174px;
	padding-left: 100px;
}

#upload {
	width: 500px;
	margin-left: 20px;
	padding-top: 74px;
}

#upload h1 {
	font-weight: 400;
	font-family: 'Vollkorn';
	font-size: 60px;
	line-height: 1em;
}

#upload h3 {
	font-weight: 400;
	font-family: 'Vollkorn', sans-serif;
}
#upload p {
	font-family: 'Vollkorn', sans-serif;
}
span.highlight {
    background-color: yellow;
}
#transcript {
	background-color: black;
	color: white;
	min-height: 500px;
	min-width: 800px;
}


