
#parent {
	display: flex;
}

#parrot {
	padding-top: 40px;
	width: 174px;
}

#upload {
	width: 500px;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
}

#upload h1 {
	font-weight: 700;
}

#upload h3 {
	font-weight: 300;
}

span.highlight {
    background-color: yellow;
}
