#upload {
	width: 50%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

#upload h1 {
	font-weight: 700;
}

#upload h3 {
	font-weight: 300;
}

#error {
	width: 50%;
	margin: 0 auto;
}
span.highlight {
    background-color: yellow;
}




